body {
    background-color: #b6c7d7;
  }

  .btn-group {
    margin-top: 10px;
  }

  .btn {
    background-color: #343a40;
    color: #fff;
    border-color: #1e2d3d;
    border-width: 2px;
    font-size: 18px;
    padding: 10px 20px;
    margin: 0 5px;
  }

  .btnCirugia {
    background-color: #343a40;
    color: #fff;
    border-color: #1e2d3d;
    border-width: 2px;
    font-size: 10px;
    padding: 5px 10px;
    margin: 0 5px;
  }


  .btn:hover,
  .btn:focus {
    background-color: #566a7c;
    border-color: #6c757d;
  }

  h1 {
    color: #343a40;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
  }
  h3 {
    color: #343a40;
    text-align: center;
    margin-top: 10px;
    font-size: 24px;
  }
  h5 {
    color: #343a40;
    text-align: center;
    margin-top: 10px;
    font-size: 18px;
  }
  /* Estilos generales del input */
input {
    text-align: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilos específicos del input tecnológico */
  input.techno {
    background-color: #272727;
    color: #fff;
  }
  
  input.techno:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(0, 150, 255, 0.7);
  }
  
  /* Estilos adicionales para resaltar el input */
  input.techno::placeholder {
    color: #888;
  }
  
  input.techno:hover {
    box-shadow: 0 0 10px rgba(0, 150, 255, 0.7);
  }
  